.DS_Store
.idea
.editorconfig
package-lock.json
yarn-error.log
.npmrc


*.log
*.md
*.svg
*.eot
*.ttf
*.woff
*.png
*.jpg
*.webp
*.sh
*.ico
*.txt
*.lock
*ignore
docker
*.env
*.env.*

.cache
.awcache
.husky
.history
dist
bin
public
logs
